.middlenav{
    width: 100%;
    background-color: #ff0011;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.middle-navbar-content{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.middle-navbar-ul{
    width: 100%;
    justify-content: space-around;
    display: flex;
    align-items: center;
}

.middle-navbar-li{
    text-decoration: none;
    list-style: none;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    width: 200px;
    min-height: 150px;
}

.middle-nav-marquee{
    background-color: black;
    color: red;
    border-bottom-style: solid;
    border-bottom-color: red;
    border-width: 7px;
    padding: 10px;
    font-size:  20px;
}