.vision{
    display: flex;
    max-width: 100vw;
    background-color: black;
    padding: 0;
    margin: 0;
    border-bottom: solid;
    border-bottom-color: red;
    border-bottom-width: 5px;
}

.vision-content{
    min-height: 51vh;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90vw;
    min-width: 90vw;
    margin: auto;
}

.vision-content-left{
    width: 48%;
}

.about-iframe{
    min-height: 52vh;
    width: 100%;
    margin-bottom: 0 !important;
}

.vision-content-right{
    width: 48vw;
}